@tailwind base;
@tailwind components;
@tailwind utilities;

/* Background generale */
body {
  margin: 0;
  padding: 0;
  font-family: system-ui, sans-serif;
  background-color: black;
  color: white;
}
