@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000;
  color: white;
  margin: 0;
  padding: 0;
  font-family: system-ui, sans-serif;
}

/* Scrollbar custom hip hop */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #111;
}

::-webkit-scrollbar-thumb {
  background: #FFD700;
  border-radius: 10px;
}
